<div class="container">
  <h1>Stupid Coaching</h1>

  <p>Ask your coach anything:</p>
  <form action="/answer" method="get">
  <!-- Direct to /answer (from action) -->
    <input type="text" name="question">
    <!-- Params[:question] (from name) -->
    <input type="submit" value="Ask!" class="btn btn-primary btn-sm">
  </form>

</div>
